extends ../layout

block body
  h1 Welcome, Employees of Your Employer!
  p
    :markdown
      Please activate your account below by filling in the fields.
  #fields
    label Email address:
    input
    label Create Password:  
    input
    label Confirm Password:  
    input
